body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.userbackground{
    background: url('../images/RegisterAccountBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.adminbackground{
    background: url('../images/AdminRegisterBackground.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: rgba(255, 255, 255);
    padding: 40px 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.signup-form h2 {
    margin-bottom: 1rem;
}

.signup-form form {
    display: flex;
    flex-direction: column;
}

.signup-form input {
    margin-bottom: 1rem;
    padding: 0.5rem 100px;
    padding-left: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: 1rem;
}

.signup-form button {
    padding: 0.5rem 100px;
    border: none;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.signup-form button:hover {
    background-color: #333;
}

.signup-form p {
    margin-top: 1rem;
    font-size: 0.9rem;
}

.signup-form a {
    color: blue;
    text-decoration: none;
}

.signup-form a:hover {
    text-decoration: underline;
}


.filter-container {
    width:900px;
    display: flex;
    justify-content: center;
    margin: 0 auto 20px auto; /* Center the container horizontally */
    margin-top:30px;
    gap:30px;
}


.filter-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.filter-container select, .filter-container input {
    padding: 10px;
    padding-left: 70px;
    padding-right: 60px;
    border-radius:5px;
    box-shadow:1px 3px;
}

.filter-container select option {
    text-align: center;
    margin-right:100px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-container input {
    padding: 15px 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.account-list {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.account-header, .account-item {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.account-header {
    font-weight: bold;
    background-color: #262928;
    color:white;
}

.account-item span {
    width: 20%; 
    text-align: center;
}

.account-item span:nth-child(2) { 
    margin-left: -10px;
}

.account-item span:nth-child(3){
    margin-left:15px;
}

.account-item span:nth-child(4){
    margin-left:5px;
}

.account-item span:nth-child(1){
    margin-left:-10px;
}

.account-item:last-child {
    border-bottom: none;
}


.editbackground{
    background: url('../images/Editprofile.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160vh;
}

.header {
    text-align: left;
    margin-right:750px;
    margin-bottom:30px
}

.header h1 {
    margin: 0;
    color: white;
    margin-bottom:15px;
    font-size:40px;
}

.header p {
    margin: 0;
    color: white;
}

.editcontainer {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 1000px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    margin-right: 0px;
    width: 120px; /* Adjust this width as needed */
    text-align: left;
    font-weight: bold; /* This will make the label text bold */
    margin-top:25px;
}

.form-group input {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    margin-top:25px;
    width: 250px;
}

.form-group input[type="email"] {
    width: 500px;
}

.form-group input[type="tel"] {
    width: 150px;
}

.form-group input[type="password"] {
    width: 150px;
}

.form-group input[type="country"] {
    width: 150px;
}

.form-group input[type="position"] {
    width: 150px;
}


.form-group textarea {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    font-size: 1rem;
    width: 60%;
    height:200px;
    box-sizing: border-box; 
    resize: vertical; 
    margin-top: 25px;
}

.form-actions {
    display: flex;
    justify-content: start;
    margin-top: 50px;
    gap:20px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.save-btn {
    background-color: #4CAF50;
    color: white;
}

.save-btn:hover {
    background-color: #45a049;
}

.delete-btn {
    background-color: #f44336;
    color: white;
}

.delete-btn:hover {
    background-color: #da190b;
}

.reset-btn{
    background-color: white;
    border: 1px solid #000000;
}