:root{
    --logoFirstColor:#88C431;
    --logoSecondColor: #D49A42;
    --backgroundGreen: #F7FFEC;
    --backgroundGreenDarker: #4dffa6;
}

/* General Styles */
body {
    background-color: #f9f9f9;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;  
}


hr{
    margin: 2% 0 2% 0;
}

.content-section {
    display: none;
}
  
.content-section.active {
    display: block;
}

.hidden {
    display: none;
}
/* Header Styles */
header {
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 16px;
}

header .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 16px;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 0;
}
  
/* Main Styles */
main {
    max-width: 1140px;
    margin: 0 auto;
    padding: 32px 16px;
}
  
/* Button Styles */
.button-container {
    margin-bottom: 32px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

button {
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 14px;
    font-weight: medium;
    /* background-color: #f0f4f8; */
    color: #1a202c;
    margin-right: 8px;
}

.toggle-button {
    border: 3px solid transparent; /* Add transparent border */
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--backgroundGreen);
    color: var(--logoSecondColor);
    margin-right: 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.toggle-button:hover{
    border: 3px solid var(--logoSecondColor);
}

.toggle-button.active {
    background-color: var(--logoFirstColor);
    color: #f0f4f8;
}

.toggle-button.active:hover {
    background-color: var(--logoFirstColor);
    color: #f0f4f8;
    border: 3px solid transparent;
}
/* Section Styles */
section {
    margin-top: 32px;
}

section h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #333;
}

/* Card Styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-container-main{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #e2e8f0;
    border-radius: 8px;
    background-color: #fff;
    padding: 16px;
}

.card .title {
    font-size: 20px;
    font-weight: bold;
}

.card .main-title{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 1%;
}

.card .sub-title{
    font-size: 16px;
    font-weight: bold;
    margin-top: 1%;
}

.card .description {
    font-size: 14px;
    color: #4a5568;
    margin-top: 8px;
}

.card .personal-description{
    font-size: 15px;
    color: #4a5568;
    margin-top: 8px;
    font-weight: bold;
}

.card img {
    width: 200px;
    height: 200px;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 16px auto 0;
}

.card .link-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.card .link-container a svg {
    height: 24px;
    width: 24px;
}

/* Table Css */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}
  
thead {
    background-color: var(--backgroundGreen);
    color: black;
}

thead th {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
  
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tbody tr:hover {
    background-color: #ddd;
}

tbody td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
  
tbody td:first-child {
    font-weight: bold;
}
  
/* Gignite Page Css */
.gignite-pages-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
.gignite-pages-images-container div {
    text-align: center;
    max-width: 45%;
}
  
.gignite-pages-images-container img {
    width: 100%;
    max-height: 500px;
}

.gignite-pages-images-container p {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 10px;
}
  