body{
    background-image: url(../images/ForumBackground.png);
    background-size: cover;
}

#searchbar{
    border: solid black 0.5px;
    background-color: white;
}

#search{
    width: 500px;
}

#postCreation{
    display: none;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 7.8%;
    border-radius: 10px;
    border: solid black 3px;
}

#postUpdate{
    display: none;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 7.8%;
    border-radius: 10px;
    border: solid black 3px;
}

.blur{
    filter: blur(8px);
}
