/* Done by Joseph */
#post{
    display: none;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: solid black 3px;
}

#post .card{
    border: 0px;
}

#comment{
    display: none;
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    border: solid black 3px;
}

#comment .card{
    border: 0px;
}

/* .blur{
    filter: blur(8px);
} */
