/* Done by Joseph */
body{
    background: url('../images/ForumBackground.png') no-repeat center center fixed;
    background-size: cover;
}

#searchbar{
    border: solid black 0.5px;
    background-color: white;
}

#search{
    width: 500px;
}

#postCreation{
    display: none;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 13%;
    border-radius: 10px;
    border: solid black 3px;
}

#postUpdate{
    display: none;
    position: absolute;
    background-color: white;
    top: 25%;
    left: 13%;
    border-radius: 10px;
    border: solid black 3px;
}

.blur{
    filter: blur(8px);
}
