:root{
    --logoFirstColor:#88C431;
    --logoSecondColor: #D49A42;
    --backgroundGreen: #F7FFEC;
    --backgroundGreenDarker: #4dffa6;
}
  
body{
    background-color: var(--backgroundGreen);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
  
.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.navbar {
    display: flex;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    box-sizing: border-box;
    background-color: var(--backgroundGreen);
}

  
#HomeLogo{
    text-decoration: none; /* Remove default anchor styling */
    padding: 0;
    font-weight: 100;
}

#navbar_logo{
    height: 65px;
    justify-self: start;
    padding: 0%;
}
  
#logo{
    display: flex;
    justify-content: center;
    padding: 2px;
    cursor: pointer;
}
  
.LogoHeader{
    font-family: "Anton SC", sans-serif;
    font-size: 40px;
}
  
#logo :nth-child(2), #logo :nth-child(3){
    transition: all 0.2s ease-in-out;
}
  
#logo :nth-child(2){
    color: var(--logoFirstColor);
    padding-left: 5px;
}
#logo :nth-child(3){
    color: var(--logoSecondColor);
}
  
#logo:hover :nth-child(3) {
    color: var(--logoFirstColor);
}
#logo:hover :nth-child(2){
    color: var(--logoSecondColor);
}
  
#profile_pic_navbar{
    height: 50px;
    cursor: pointer;
    transition: opacity 0.1s ease-in-out;
}
  
#profile_pic_navbar.fade-out {
    opacity: 0.5;
}
  
.navbar a {
    float: left;
    font-size: 18px;
    font-weight: bolder;
    color: #D49A42;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out;
}
  
  
.dropdown {
    float: left;
    overflow: hidden;
    /* position: relative; */
}
  
.dropdown .dropbtn {
    font-size: 18px;
    font-weight: bolder;
    border: none;
    outline: none;
    color: #D49A42;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;  
}
  
.navbarItem:hover, .dropdown:hover .dropbtn {
    background-color: #88C431;
    color: #F7FFEC;
    
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #F7FFEC;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 3%;
    border: 3px solid #D49A42; /* Add this line to include a border */
    padding-top: 5px;
    transition: all 0.2s ease-in-out;
}
  
.dropdown-content a {
    float: none;
    color: #D49A42;
    text-decoration: none;
    display: block;
    text-align: left;
    border-radius: 0%;
}
  
.dropdown-content h1 {
    float: none;
    color: #D49A42;
    padding-left: 10px;
    font-size: larger;
    font-weight: bolder;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #88C431;
    color: #fff;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}
  
  
@media only screen and (max-width: 420px){
    .navbar{
      overflow: visible;
      flex-direction: column;
    }
  
    .toast-container {
      right: 0px;
      margin-left: 1%;
      margin-right: 1%;
    }
}
  
.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 100px;
    z-index: 1000;
}

.custom-alert-content {
    text-align: center;
    width:200px;
    font-size:30px;
}
  
.custom-alert-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}