body {
    font-family: Arial, sans-serif;
    background-color: #f5fbe9;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    margin-top: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 1.5em;
    color: #333;
}

.header .buttons {
    display: flex;
    gap: 10px;
}

.header .buttons button {
    background-color: #4ae3b5;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
}

.header .buttons button:hover {
    background-color: #3baf8d;
}

.header .buttons .active {
    background-color: #2b8c6e; /* Darker color for active button */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f5fbe9;
    color: #333;
}

td a {
    color: #007bff;
    text-decoration: none;
}

td a:hover {
    text-decoration: underline;
}

.star {
    font-size: 2em;
    cursor: pointer;
}

.star.gray {
    color: #ccc;
}

.star.gold {
    color: #ffd700;
}