body {
    font-family: Arial, sans-serif;
    background: url('../images/windturbine.jpg') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 5% 5% 5% 5%;
}

.profile-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 85%;
    height:200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    position: relative;
}

.edit-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;
}

.edit-icon img {
    width: 30px;
    height: 30px;
}

.bottom-container {
    display: flex;
    justify-content: space-between;
    width: 88%;
    gap: 20px;
}

.info-box {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    height:250px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-box h2 {
    margin: 0;
    font-size: 24px;
}



.info-box h3 {
    margin: 0;
    font-size: 20px;
}

.info-box p {
    margin: 10px 0 0;
    font-size: 16px;
}

.profile-image-preview {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
    margin-bottom: 10px;
}

.inline-p {
    display: inline-block;
    margin-bottom:0px;
    margin-left:5px;
}

#about_me {
    word-wrap: break-word; 
    overflow-wrap: break-word;
    max-width: 100%;
    margin:10px; 
}

#logoutbtn{
    margin-top:20px;
    padding:8px;
    width:120px;
    background-color: red;
    color:white;
    border-radius: 10px;
}

@media only screen and (max-width: 500px){
    body {
        height: 110vh;
    }

    .bottom-container {
        width: 97%;
    }
}