body{
    display: flex;
    flex-direction: column;
}
#QuizPageHeading{
    align-self: center;
    text-align: center;
}

/* Container Styles */
#question_container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-left: 20px;
    
    width: 70%;
    margin-top: 2%;
    margin-right: 15%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-self: center;
}
  
/* Question Styles */
.question {
    margin-bottom: 20px;
}
  
.question p {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #555;
}
  
/* Label and Radio Button Styles */
label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 1em;
    max-width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;

}
  
input[type="radio"] {
    margin-right: 10px;
    
}
  

/* Additional Styling for Hover Effect */
label:hover {
    background-color: #f1f1f1;
    border-radius: 5px;
}
  
/* Add some spacing around the container */
.container {
    padding: 20px;
}
  
#submit_quiz{
    padding: 10px 20px;
    margin-left: 15%;
    margin-top: 1%;
    font-size: 1em;
    color: white;
    background-color: #28A745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: auto;
    width: auto;
    max-width: 10%;
}

#submit_quiz:hover{
    background-color: #218838;

}

#resultsContainer{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.circle-chart {
    position: relative;
    width: 200px;
    height: 200px;
}

.circle {
    width: 100%; /* Use 100% to fill the container */
    height: 100%; /* Use 100% to fill the container */
    border-radius: 50%;
    background: conic-gradient(#88C431 0%, #88C431 75%, #330000 0% 100%); /* Simplified conic-gradient */
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    font-size: 2em;
    color: #333;
    transition: all 0.5s ease; /* Added ease timing function */
}

.percentage {
    position: absolute;
}


.flexBox{
    display: flex;
    width: 100%;
    justify-content:space-around;
}

#redo_quiz, #exit{
    padding: 10px 20px;
    margin-top: 1%;
    font-size: 1em;
    color: white;
    background-color: #28A745;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: auto;
    width: 25%;

}

#exit{
    background-color: #dc3545;
}

.toast-container {
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #C5FF95;
    color: #000;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.5s;
}

.toast.show {
    opacity: 1;
}




/* Responsive Design */
@media only screen and (max-width: 500px){
    #question_container {
      padding: 15px;
    }
  
    .question p {
      font-size: 1.1em;
    }
  
    label {
      font-size: 0.9em;
    }

    #submit_quiz{
        max-width: 35%;
        margin-left: 11%;
    }

    #resultsContainer{
        width: 80%;
    }


    .toast-container {
        right: 0px;
        margin-left: 1%;
        margin-right: 1%;
    }
}